.hidden {
    display: none;
}

.post-it {
    float: left;
    margin-left: 6px;
}

.post-it span {
	background: yellow;
	width:  200px;
	height: 200px;
	border-color: black;
    border-width: 2px;
}

.todo-text-input {
    height: 80%;
    width: 80%;
}

.finished {
    text-decoration: line-through;
}

.post-it-list {
	list-style: none;
}