.hidden {
    display: none;
}

.post-its div {
    width: 400px;
}

.post-it {
    background: yellow;
}

.todo-text-input {
    height: 200px;
    width: 150px;
}

.finished {
    text-decoration: line-through;
}